<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="devolucao">
            <h2><span>Devolucao</span> {{devolucao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Data Devolucao</span></dt>
                <dd>
                    <span>{{devolucao.dataDevolucao}}</span>
                </dd>
                <dt><span>Exemplar</span></dt>
                <dd>
                    <div *ngIf="devolucao.exemplar">
                        <a [routerLink]="['/exemplar', devolucao.exemplar?.id, 'view']">{{devolucao.exemplar?.id}}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{devolucao.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/devolucao', devolucao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
