<div>
    <h2 id="page-heading">
        <span>Devolucaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-devolucao" [routerLink]="['/devolucao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Devolucao
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="devolucaos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Data Devolucao</span></th>
            <th><span>Exemplar</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let devolucao of devolucaos ;trackBy: trackId">
                <td><a [routerLink]="['/devolucao', devolucao.id, 'view' ]">{{devolucao.id}}</a></td>
                <td>{{devolucao.dataDevolucao | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="devolucao.exemplar">
                        <a [routerLink]="['../exemplar', devolucao.exemplar?.id, 'view' ]" >{{devolucao.exemplar?.id}}</a>
                    </div>
                </td>
                <td>
                    {{devolucao.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/devolucao', devolucao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/devolucao', devolucao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'devolucao', { outlets: { popup: devolucao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
